<div class="toast-container" *ngIf="toasts.length > 0">
  <div 
    class="toast" 
    *ngFor="let toast of toasts; trackBy: trackByToastId"
    [class]="'toast-' + toast.type"
  >
    <div class="toast-icon">
      {{ getToastIcon(toast.type) }}
    </div>
    <div class="toast-content">
      <div class="toast-title">{{ toast.title }}</div>
      <div class="toast-message">{{ toast.message }}</div>
    </div>
    <button class="toast-close" (click)="removeToast(toast.id)">
      ×
    </button>
  </div>
</div> 